<!doctype html>

<html>
<head>
  <link href=" ../css/home.css" rel="stylesheet" type= "text/css"/>
  <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>

  <ul class="tab">
    <li><a href= "./products.html" class="tablinks highlighted">Products</a></li>
    <li><a href= "./services.html" class="tablinks highlighted">Services</a></li>
    <li><a href= "./contact.html" class="tablinks highlighted">Contact</a></li>
    <li><a href= "./about.html" class="tablinks highlighted">About</a></li>
    <li><a href= "./" class="tablinks highlighted">Home</a></li>
  
</ul>
<article class="tablinks">
  <section id="products">
   <div id="home" class="tabcontent">


 </div>
</section>
</article>
</body>
</html>